html,
body {
  padding: 0;
  scroll-behavior: smooth;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#home{
  /* height: 100vh; */
  /* position: relative; */
  clip-path: 
  polygon(
    0% 0%, 
    100% 0%,
    100% calc(100% - 220px),
    0% 100%
  );
}

#tsparticles{
  width: 100%;
  height: 100%;
  position: absolute;
  /* z-index: 1000; */
}
#tsparticlesSkills{
  width: 100%;
  height: 100%;
  position: absolute;
  /* z-index: 1000; */
}
#name{
        white-space: nowrap;
        overflow: hidden;
        animation: typewriter 3s steps(53) infinite alternate,
          blink 800ms steps(20) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  from {
    border-color: black;
  }
  to {
    border-color: transparent;
  }
}


#ct{
  animation: float 5s ease-in-out infinite;
  margin-top: -250px;
}

#ct div:nth-child(3){
  animation: float 8s ease-in-out infinite;
}
#ct div:nth-child(1){
  animation: float 8s ease-in-out infinite;
}

@keyframes float{
  0% {
    transform:  translateY(0);
  }
  50%{
    transform: translateY(-25px);
  }
  100%{
    transform: translateY(0);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #2F2E2E;
}
 
::-webkit-scrollbar-thumb {
  background: #6EDB5C; 
  border-radius: 10px;
  padding: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #55a647; 
}
#skill{
  background-color: #0f0f0f;
  position: relative;
  /* z-index: 1000; */
  /* background-image:  linear-gradient(to right, #0f0f0f,  rgba(0, 0, 0, 0.932)),
  url("../assets/bg.jpg");
  filter: brightness(80%);
  background-size: cover; */
  /* height: 100vh; */
}

.swiper-pagination-bullet-active {
  background-color: #6EDB5C !important;
}
.swiper-pagination-bullet{
  background-color: #6EDB5C !important;
}
.swiper-button-prev{
  color: #6EDB5C !important;
}
.swiper-button-next{
  color: #6EDB5C !important;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  /* text-align: center; */
  font-size: 18px;
  width: 100%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

}
.mySwiper{
  height: 300px;
  margin-top: -60px;
}
.mySwiperProject{
  margin-top: -60px;
  height: 600px;
}
.mySwiperAbout{
  height: 450px;
  width: 100%;
  /* margin-top: -460px; */
}